<a href="https://colab.research.google.com/github/7Blessings7/CMSC-204-Prog1/blob/main/Abayan_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Problem 1. 
#create a list for the monthly expenses named monthly_expenses
monthly_expenses = [2200,2350,2600,2130,2190]
# 1. In Feb, how many dollars you spent extra compare compare to January
Excess = monthly_expenses[1]-monthly_expenses[0]
print("The excess expenditure in February compared to January is:", Excess)

# 2. Find out your total expense in first quarter (first three months) of the year
Total_expense_first_quarter = sum(monthly_expenses[:3])
print("Total expense in the first quarter is: ", Total_expense_first_quarter)

# 3. Find out if you spent exactly 2000 dollars in any month
Is_2000_dollars = monthly_expenses == 2000
print("Did I spent 2000 dollars exactly?:", Is_2000_dollars)

#4. June month just finished and your expenses is 1980. Add this item to our monthly expense list
monthly_expenses.append(1980)
print("New list is", monthly_expenses)

#5. You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this
monthly_expenses[3] = monthly_expenses[3] - 200
print("The updated monthly expenses is:", monthly_expenses)

The excess expenditure in February compared to January is: 150
Total expense in the first quarter is:  7150
Did I spent 2000 dollars exactly?: False
New list is [2200, 2350, 2600, 2130, 2190, 1980]
The updated monthly expenses is: [2200, 2350, 2600, 1930, 2190, 1980]

In [ ]:
#Problem 2: 
#You have a list of your favourite marvel super heroes.
heroes=['spider man','thor','hulk','iron man','captain america']

#1. Length of the list
print("The length of the list is:",len(heroes))

#2. Add 'black panther' at the end of this list
heroes.append("black panther")
print("The new list is:",heroes)

#3. You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'
#Remove black panther
heroes.remove("black panther")
#Insert black panther after "hulk"
heroes.insert(3,"black panther")
print("The updated list is now:",heroes)

#4. Now you don't like thor and hulk because they get angry easily :) . So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool). Do that with one line of code.
heroes[1:3] = ["doctor strange"]
print("List including doctor strange but not thor and hulk: ",heroes)

#5. Sort the heros list in alphabetical order
heroes.sort()
print("The sorted heroes are:", heroes)

The length of the list is: 5
The new list is: ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
The updated list is now: ['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
List including doctor strange but not thor and hulk:  ['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
The sorted heroes are: ['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

In [ ]:
#Problem 3
max_number = int(input("Please enter a number above 1: "))
gen=[]
for i in range(max_number+1):
  if i%2 != 0:
    gen.append(i)

print(gen)

Please enter a number above 1: 20
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]