<a href="https://colab.research.google.com/github/7Blessings7/CMSC-204-Prog1/blob/main/David_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
stock_prices = [298,305,320,301,292]

In [ ]:
stock_prices[0]

298

In [ ]:
stock_prices[2]

320

In [ ]:
stock_prices.insert(1,284)
stock_prices

[298, 284, 284, 305, 320, 301, 292]

In [ ]:
stock_prices.remove(284)
stock_prices
#static array - fixed ung number of list sa array. wala ito sa python
#dynamic array - pde kahit ilan iadd. ganito sa python.

[298, 305, 320, 301, 292]

In [ ]:
stock_prices.append(284)
stock_prices

[298, 305, 320, 301, 292, 284]

**EXERCISE**

In [ ]:
#Problem#1:
#Creating a list
expenses = [2200, 2350, 2600, 2130, 2190]

In [ ]:
#Calculating extra dollars spent on February:
expenses[1] - expenses[0]

150

In [ ]:
#Calculating the total expenses in first quarter:
expenses[0] + expenses[1] + expenses[2]

7150

In [ ]:
#Checking if you spend exactly 2000 dollars in any month
i = 0
for x in expenses:
  if x == 2000:
    print(i)
  elif i == 4:
    print("No month had spent exactly 2000 dollars.")
  i += 1

No month had spent exactly 2000 dollars.

In [ ]:
#adding expenses on june
expenses.append(1980)

In [ ]:
expenses

[2200, 2350, 2600, 2130, 2190, 1980]

In [ ]:
#Calculating expense in April after returning $200
expenses[3] -= 200
expenses

[2200, 2350, 2600, 1930, 2190, 1980]

In [ ]:
#Problem 2:
heros=['spider man','thor','hulk','iron man','captain america']

In [ ]:
#Finding the length of heros:
len(heros)

5

In [ ]:
#inserting black panther in list:
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [ ]:
#inserting black panther after hulk:
heros.remove('black panther')
heros.insert(2,'black panther')
heros

['spider man', 'thor', 'black panther', 'hulk', 'iron man', 'captain america']

In [ ]:
#removing thor and hulk and adding doctor strange
heros.remove('thor')
heros.remove('hulk')
heros
#other solution: heros[1:3]=['doctor strange']

['spider man', 'black panther', 'iron man', 'captain america']

In [ ]:
#adding doctor strange
heros.append('doctor strange')
heros

['spider man',
 'black panther',
 'iron man',
 'captain america',
 'doctor strange']

In [ ]:
#sorting heros in alphabetical order:
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

In [ ]:
#Problem#3
#input max value
max = int(input("Please pick an odd number except negative number and 1:"))
odd = [] #start as empty
for i in range(1,max+1,2):
    odd.append(i)

print(odd)

Please pick an odd number except negative number and 1:5
[1, 3, 5]

In [ ]:
#Reversing a value in python
lis = [1,2,3]
lis2 = []

for value in lis:
  lis2 = [value] + lis2 #always add the value on the first part.

print(lis)
print(lis2)

#other technique: use reverse function

[1, 2, 3]
[3, 2, 1]

In [ ]:
#merging two tables.
lis = [5,6,8,2,9,1]
lis2 = [3,1,5,11,43,2]
lis.sort()
lis2.sort()
lis + lis2

[1, 2, 5, 6, 8, 9, 1, 2, 3, 5, 11, 43]

In [ ]:
#insert new element x
A = [2,3,4,5,6]
x = 7
A.append(x)
A

[2, 3, 4, 5, 6, 7]

In [ ]:
A.insert(0,1)
A

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# finding and deleting min value
min = 1000000
B = [34,4,4,56,67,7,8,2]

for i in B:
  if i < min:
    min = i

B.remove(min)
B

[34, 4, 4, 56, 67, 7, 8]