<a href="https://colab.research.google.com/github/7Blessings7/CMSC-204-Prog1/blob/main/de_Leon_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TEST

fruits = ["apple", "banana", "cherry"]

print(fruits)
print(fruits[0])
print(len(fruits))
print(type(fruits))
print(fruits[-1])
print(fruits[1:])
print(fruits[:-1])

['apple', 'banana', 'cherry']
apple
3
<class 'list'>
cherry
['banana', 'cherry']
['apple', 'banana']

In [ ]:
#CODEBASICS EXERCISE 1
expenses = [2200, 2350, 2600, 2130, 2190]

#1
print("1. In Feb, how many dollars you spent extra compare to January?")
print(expenses[1]-expenses[0])
#2
print("2. Find out your total expense in first quarter of the year.")
print(expenses[0]+expenses[1]+expenses[2])
#3
print("3. Find out if you spent exactly 2000 dollars in any month.")
if 2000 in expenses:
  print("You spent exactly 2000 dollars in a month.")
else:
  print("You did not spend exactly 2000 dollars in any month.")
#4
print("4. Add June.")
expenses.append(1980)
print(expenses)
#5
print("5. April got a refund of 200$.")
expenses[3] = expenses[3]-200
print(expenses)

1. In Feb, how many dollars you spent extra compare to January?
150
2. Find out your total expense in first quarter of the year.
7150
3. Find out if you spent exactly 2000 dollars in any month.
You did not spend exactly 2000 dollars in any month.
4. Add June.
[2200, 2350, 2600, 2130, 2190, 1980]
5. April got a refund of 200$.
[2200, 2350, 2600, 1930, 2190, 1980]

In [ ]:
#CODEBASICS EXERCISE 2
hero=['spider man','thor','hulk','iron man','captain america']

#1
print("1. Length of the list.")
print(len(hero))
#2
print("2. Add 'black panther'")
hero.append("black panther")
print(hero)
#3
print("3. Add 'black panther' after 'hulk'")
hero.remove("black panther")
hero.insert(3, "black panther")
print(hero)
#4
print("4. Remove thor and hulk from list and replace them with doctor strange.")
hero[1:3]=["doctor strange"]
print(hero)
#5
print("5. Sort the heros list in alphabetical order.")
hero.sort()
print(hero)

1. Length of the list.
5
2. Add 'black panther'
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
3. Add 'black panther' after 'hulk'
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
4. Remove thor and hulk from list and replace them with doctor strange.
['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
5. Sort the heros list in alphabetical order.
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

In [ ]:
#CODEBASICS EXERCISE 3
#Create a list of all odd numbers between 1 and a max number.
#Max number is something you need to take from a user using input() function


max = int(input("Enter max number: "))

odd_list = []
i=0
odd=1
while odd < max:
  odd_list.append(odd)
  odd +=2
  i += 1

print(odd_list)

Enter max number: 10
[1, 3, 5, 7, 9]

In [ ]:
#SLIDE 12 EXERCISES
#1. Write a procedure for reversing the elements of an array.

rainbow = ["red", "orange", "yellow", "green", "blue", "indigo", "violet"]
print(rainbow)
print("flag")
i = 0
while i < len(rainbow)-1:
  rainbow.insert(i,rainbow[-1])
  #print(rainbow)
  rainbow.pop(len(rainbow)-1)
  #print(rainbow)
  i += 1

print(rainbow)

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
flag
['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']

In [ ]:
#SLIDE 12 EXERCISES
#2. Write a procedure for merging two sorted arrays into one.

rainbow = ["red", "orange", "yellow", "green", "blue", "indigo", "violet"]
fruits = ["apple", "banana", "cherry"]

rainbow.extend(fruits)
rainbow.sort()

print(rainbow)

['apple', 'banana', 'blue', 'cherry', 'green', 'indigo', 'orange', 'red', 'violet', 'yellow']

In [ ]:
#SLIDE 12 EXERCISES
#3. Formulate an algorithm for inserting a new element x into a sorted array A of size n.

odd = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

x = int(input("Enter integer:"))

i=0
while i < len(odd)-1:
  if x <= odd[0]:
    odd.insert(0, x)
    break
  elif x > odd[len(odd)-1]:
    odd.insert(len(odd),x)
    break
  elif x > odd[i] and x <= odd[i+1]:
    odd.insert(i+1,x)
    break
  else:
    i += 1

print(odd)

Enter integer:14
[1, 3, 5, 7, 9, 11, 13, 14, 15, 17, 19]

In [ ]:
#SLIDE 12 EXERCISES
#4. Write a procedure for finding the minimum in an array and deleting it from the array.

random = [33, 17, 18, 21, 5, 47, 40, 44, 4, 6]
i=0
min=random[0]
while i <= len(random)-1:
  if random[i] < min:
    min = random[i]
  i += 1

print("Minimum: ", min)
random.remove(min)
print(random)

Minimum:  4
[33, 17, 18, 21, 5, 47, 40, 44, 6]