<a href="https://colab.research.google.com/github/7Blessings7/CMSC-204-Prog1/blob/main/Fredeluces_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Let us say your expense for every month are listed below,

*   January - 2200
*   February - 2350
*   March - 2600
*   April - 2130
*   May - 2190

Create a list to store these monthly expenses and using that find out

In [ ]:
monthlyExpenses = [2200, 2350, 2600, 2130, 2190]
print(monthlyExpenses)

[2200, 2350, 2600, 2130, 2190]

Q1: In Feb, how many dollars you spent extra compare to January?

In [ ]:

def calculateMonthlyDifference(month):
  thisMonth = 0
  if month == "Jan":
    thisMonth = 0
  elif month == "Feb":
    thisMonth = 1
  elif month == "Mar":
    thisMonth = 2
  elif month == "Apr":
    thisMonth = 3
  elif month == "May":
    thisMonth = 4

  return monthlyExpenses[thisMonth] - monthlyExpenses[thisMonth-1]

print(calculateMonthlyDifference("Feb"))

2200
150

Q2: Find out your total expense in first quarter (first three months) of the year.

In [ ]:
def calculateQuarterlyExpenses(quarter):
  quarterRange = []
  if quarter == 1:
    quarterRange = [0,3]
  elif quarter == 2:
    quarterRange = [3,6]
  elif quarter == 3:
    quarterRange = [6,9]
  else:
    quarterRange = [9,12]

  quarterTotal = 0

  for x in range(quarterRange[0], quarterRange[1]):
    quarterTotal += monthlyExpenses[x] 

  return quarterTotal

print(calculateQuarterlyExpenses(1))

7150

Q3: Find out if you spent exactly 2000 dollars in any month

In [ ]:
def hasSpent(amount):
  result = 0

  for i in monthlyExpenses:
    if i == amount:
      result = 1

  return result
  
hasSpent(2000)

0

Q3: June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [ ]:
def addExpense(amount):
  monthlyExpenses.append(amount)

  return monthlyExpenses

print(addExpense(1980))

[2200, 2350, 2600, 2600, 2130, 2190, 1980]

You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [ ]:
def makeCorrection(month, operation, cost):
  monthValue = 0

  # harcoded April value
  if month == "Apr":
    monthValue = 3

  if operation == "add":
    monthlyExpenses[monthValue] = monthlyExpenses[monthValue] + cost
  else:
    
    monthlyExpenses[monthValue] = monthlyExpenses[monthValue] - cost

  return monthlyExpenses

print(makeCorrection("Apr", "subtract", 200))

[2200, 2350, 2600, 1930, 2190]

You have a list of your favourite marvel super heros.

In [ ]:
heroes=['spider man','thor','hulk','iron man','captain america']

Q1. Length of the list

In [ ]:
print(len(heroes))

5

Q2: Add 'black panther' at the end of this list

In [ ]:
heroes.append("black panther")

print(heroes)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

Q3: You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'

In [ ]:
heroes.pop()
print(heroes)

heroes.insert(3, "black panther")
print(heroes)

['spider man', 'thor', 'hulk', 'iron man']
['spider man', 'thor', 'hulk', 'black panther', 'iron man']

Q4: Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.

In [ ]:
heroes=['spider man','thor','hulk','iron man','captain america']

# del heroes[2:3]
# del heroes[2:4]

heroes[1:3] = ["doctor strange"]

print(heroes)

['spider man', 'doctor strange', 'iron man', 'captain america']

Q5:Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [ ]:
# dir(heroes)

heroes.sort()

print(heroes)

['captain america', 'hulk', 'iron man', 'spider man', 'thor']

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [ ]:
from re import I
print("enter a number to get all the odd numbers from 1 to you input number")

num = input()

oddArray = []
for i in range(int(num)+1):
  if (i % 2) != 0:
    oddArray.append(i)

print(oddArray)

enter a number to get all the odd numbers from 1 to you input number
13
[1, 3, 5, 7, 9, 11, 13]