<a href="https://colab.research.google.com/github/7Blessings7/CMSC-204-Prog1/blob/main/Halim_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Answers to "Exercise: Array DataStructure"**

In [ ]:
expenses = [2200, 2350, 2600, 2130, 2190]

**Q1. In Feb, how many dollars you spent extra compare to January?**

In [ ]:
extra_spent = expenses[1] - expenses[0]
extra_spent

150

**Q2. Find out your total expense in first quarter (first three months) of the year.**

In [ ]:
q1_expenses = expenses[0] + expenses[1] + expenses[2]
q1_expenses

7150

**Q3. Find out if you spent exactly 2000 dollars in any month**

In [ ]:
spent_2k = False
for amt in expenses:
  if amt == 2000:
    spent_2k = True
spent_2k

False

Alternatively,

In [ ]:
spent_2k = 2000 in expenses
spent_2k

False

**Q4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list**

In [ ]:
expenses.append(1980)
expenses

[2200, 2350, 2600, 2130, 2190, 1980]

**Q5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this**

In [ ]:
expenses[3] = expenses[3] - 200
expenses

[2200, 2350, 2600, 1930, 2190, 1980]

===============

In [ ]:
heros=['spider man','thor','hulk','iron man','captain america']

**Q1. Length of the list**

In [ ]:
heros_len = len(heros)
heros_len

5

**Q2. Add 'black panther' at the end of this list**

In [ ]:
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

**Q3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'**

In [ ]:
heros.pop()
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [ ]:
heros.insert(3, 'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

**Q4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.**

In [ ]:
heros = heros[:1] + ['doctor strange'] + heros[3:]
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

**Q5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)**

In [ ]:
dir(heros)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

===============

**Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function**

In [ ]:
max_num = input()
odd_numbers = [i for i in range(int(max_num)) if i % 2 != 0]
odd_numbers

15

[1, 3, 5, 7, 9, 11, 13]

===============

**Write a procedure for reversing the elements of an array.**

In [ ]:
arr = [1,2,3,4,5,6,7]
n = len(arr)
mid = n // 2
i = 0

while i < mid:
  temp = arr[i]
  arr[i] = arr[n - (i + 1)]
  arr[n - (i + 1)] = temp
  i += 1
arr

[7, 6, 5, 4, 3, 2, 1]