<a href="https://colab.research.google.com/github/7Blessings7/CMSC-204-Prog1/blob/main/Macatula_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# exercise 1 Array DataStructure
my_monthly_expense = [2200, 2350, 2600,2130, 2190]
Jan = 2200
Feb = 2350
Mar = 2600
Apr = 2130 
May = 2190
x = 2000

# Create a list to store these monthly expenses and using that find out,
# 1. In Feb, how many dollars you spent extra compare to January?
# 2. Find out your total expense in first quarter (first three months) of the year.
# 3. Find out if you spent exactly 2000 dollars in any month
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this

print("My monthly expense")
print("January-2200")
print("February-2350")
print("March-2600")
print("April-2130")
print("May-2190")

extra_exp_Feb = Jan - Feb
print("My extra expense for Feb is", extra_exp_Feb)

first_qtr_exp = Jan + Feb + Mar
print("My first quarter expense is", first_qtr_exp)

for i in range(len(my_monthly_expense)):
  if my_monthly_expense[i] == x :
    print("i")
  else:
    print("None")

# June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
total_monthly_expense = Jan + Feb + Mar + Apr + May 
June = 1980
semi_annual_exp = total_monthly_expense + June
print("My semi-annual expense is", semi_annual_exp)

# You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this
ref = 200
Apr = Apr - ref
print("My expense in April is", Apr)
print("My semi-annual expense total is", semi_annual_exp)

My monthly expense
January-2200
February-2350
March-2600
April-2130
May-2190
My extra expense for Feb is -150
My first quarter expense is 7150
None
None
None
None
None
My semi-annual expense is 13250
My expense in April is 1730
My semi-annual expense total is 13250

In [ ]:
# You have a list of your favourite marvel super heros.
# heros=['spider man','thor','hulk','iron man','captain america']
# Using this find out,
# 1. Length of the list
# 2. Add 'black panther' at the end of this list
# 3. You realize that you need to add 'black panther' after 'hulk',
# so remove it from the list first and then add it after 'hulk'
# 4. Now you don't like thor and hulk because they get angry easily :)
# So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
# Do that with one line of code.
# 5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

heros=["spiderman", "thor", "hulk", "iron man", "captain america"]
x = len(heros)
print(x)

heros.insert(3,'black panther')
print(heros)

heros[1:3] = ['doctor strange']
print(heros)

heros.sort()
print(heros)

5
['spiderman', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spiderman', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spiderman']

In [ ]:
# Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function
max = int(input(100))
oddNum = []
for i in range(1, max):
  if i % 2 == 1:
    oddNum.append(i)
print("Odd Numbers up to 100 are", oddNum)