<a href="https://colab.research.google.com/github/7Blessings7/CMSC-204-Prog1/blob/main/MarasiganMarites_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#A. Practice: As Presented in Video

#1. What was the price on day 3?
stock_prices = [298,305,320,301,292]
print ("Price on day 3: ", stock_prices[2])

#2. On what day price was 301?
for i in range(len(stock_prices)):
  if stock_prices[i]==301:
    print ("Price was 301 on : ", i)

#3. Print all prices.
for price in stock_prices:
  print (price)

#4. Insert new price 284 at index 1.
stock_prices.insert(1,284)
print ("New price 284 inserted: ", stock_prices)

#5. Delete element at index 1.
stock_prices.remove(298)
print ("Price 298 removed: ", stock_prices)

Price on day 3:  320
Price was 301 on :  3
298
305
320
301
292
New price 284 inserted:  [298, 284, 305, 320, 301, 292]
Price 298 removed:  [284, 305, 320, 301, 292]

In [ ]:
#B1. Exercises
# Monthly Expenses: 
# January - 2200; February - 2350; March - 2600; April - 2130; May - 2190

# Create a list to store these monthly expenses
mon_exp = [2200,2350,2600,2130,2190]

#1. In February, how many dollars you spent extra compare to January?
print ("More dollars spent in February than January: ", mon_exp[1]-mon_exp[0])

#2. Find out your total expense in first quarter (first three months) of the year.
print ("Total expenses in Q1: ", mon_exp[0]+mon_exp[1]+mon_exp[2])

#3. Find out if you spent exactly 2000 dollars in any month.
print ("Did I spend 2000 in any month? ", 2000 in mon_exp)

#4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list.
mon_exp.insert(5,1980)
print ("June expense added: ", mon_exp)

#5. You returned an item that you bought in April and got a refund of 200. Make a correction to your monthly expense list based on this.
mon_exp.remove(2130)
mon_exp.insert(3,1930)
print ("April expense corrected: ", mon_exp)

More dollars spent in February than January:  150
Total expenses in Q1:  7150
Did I spend 2000 in any month?  False
June expense added:  [2200, 2350, 2600, 2130, 2190, 1980]
April expense corrected:  [2200, 2350, 2600, 1930, 2190, 1980]

In [ ]:
#B2.
# Marvel superheroes
heroes = ['spiderman','thor','hulk','ironman','captain america']

#1. Length of the list
print ("Length of the list: ", len(heroes))

#2. Add 'black panther' at the end of this list.
heroes.append('black panther')
print ("Added black panther: ", heroes)

#3. You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'.
heroes.remove('black panther')
heroes.insert(3,'black panther')
print ("Put black panther after hulk: ", heroes)

#4. Now you don't like thor and hulk because they get angry easily :)
# So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
# Do that with one line of code.
heroes[1:3]=['doctor strange']
print ("Replaced thor and hulk with doctor strange: ", heroes)

#5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)
heroes.sort()
print ("Heroes in alphabetical order: ", heroes)

Length of the list:  5
Added black panther:  ['spiderman', 'thor', 'hulk', 'ironman', 'captain america', 'black panther']
Put black panther after hulk:  ['spiderman', 'thor', 'hulk', 'black panther', 'ironman', 'captain america']
Replaced thor and hulk with doctor strange:  ['spiderman', 'doctor strange', 'black panther', 'ironman', 'captain america']
Heroes in alphabetical order:  ['black panther', 'captain america', 'doctor strange', 'ironman', 'spiderman']

In [ ]:
#B3.
# Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function.
max_num = int(input("Enter maximum number: "))

odd_num = []

for i in range(1, max_num):
    if i % 2 == 1:
        odd_num.append(i)

print("Odd numbers: ", odd_num)

Enter maximum number: 21
Odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]