<a href="https://colab.research.google.com/github/7Blessings7/CMSC-204-Prog1/blob/main/Pedraja_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Codebasics Exercises

In [ ]:
from array import *
expenses = [2200,2350,2600,2130,2190]
print("I spent", expenses[1]-expenses[0], "dollars more in February than in January")

if 2000 in expenses == True:
  print("I spent exactly 2000 dollars in any month")
else:
  print("I did not spend exactly 2000 dollars in any month")

print("My total expnses from January to March is", expenses[0]+expenses[1]+expenses[2], "dollars")
print("\t")
expenses.insert(5,1980)
print("List of expenses by end of June is")
for x in expenses:
  print(x)

print("\t")
expenses[3] = expenses[3]-200
print("List of expenses after refund of 200 dollars in April is:")
for x in expenses:
  print(x)

I spent 150 dollars more in February than in January
I did not spend exactly 2000 dollars in any month
My total expnses from January to March is 7150 dollars

List of expenses by end of June is
2200
2350
2600
2130
2190
1980

List of expenses after refund of 200 dollars in April is:
2200
2350
2600
1930
2190
1980

In [ ]:
from array import *
heroes = ['spider man','thor','hulk','iron man','captain america']
print(len(heroes))

heroes.append('black panther')
print(heroes)

heroes.remove('black panther')
print(heroes)

heroes.insert(3,'black panther')
print(heroes)

heroes[2] = 'doctor strange'
print(heroes)

heroes[1:3]= ['doctor strange']
print(heroes)

heroes.sort()
print(heroes)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'iron man', 'captain america']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'thor', 'doctor strange', 'black panther', 'iron man', 'captain america']
['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

"Now you try it!" Exercises

1. Write a procedure for reversing the elements of an array.

In [ ]:
from array import *
sample = [1,20,19,45,16,3,8]

sample.reverse()
print(sample)

[8, 3, 16, 45, 19, 20, 1]

2. Write a procedure for merging two sorted arrays into one

In [ ]:
from array import *
list1 = [1,20,19,45,16,3,8]
list2 = [12,43,62,89,13]

list1.sort()
list2.sort

print(list1+list2)

[1, 3, 8, 16, 19, 20, 45, 12, 43, 62, 89, 13]

3. Formulate an algorithm for inserting a new element x into a sorted array A of size n.

In [ ]:
from array import *
list1 = [1,20,19,45,16,3,8]

list1.sort()
print(list1)

list1.insert(1,'butterfly')
(print(list1))

[1, 3, 8, 16, 19, 20, 45]
[1, 'butterfly', 3, 8, 16, 19, 20, 45]

4. Write a procedure for finding the minimum in an array and deleting it from the array.

In [ ]:
from array import *
list1 = [1,20,19,45,16,3,8]

list1.remove(min(list1))

print(list1)

[20, 19, 45, 16, 3, 8]