<a href="https://colab.research.google.com/github/7Blessings7/CMSC-204-Prog1/blob/main/San_Miguel_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ralph Adrian San Miguel**

**CMSC-204 - Data Structures and Algorithms**

Codebasics Excercise 1

In [ ]:
'''Codebasics Excercise 1'''

#List of monthly expenses
expenses = [2200,2350,2600,2130,2190]

#1. In Feb, how many dollars you spent extra compare to January?
answer = expenses[1] - expenses[0]
print("1. In Feb, how many dollars did you spent extra compared to January? $", answer)

#2. Find out the total expense in first quarter (first three months) of the year
answer = expenses[0] + expenses[1] + expenses[2]
print("2. Find out your total expense in first quarter (first three months) of the year: $", answer)

#3. Find out if you spent exactly 2000 dollars in any month, 
if 2000 in expenses:
  #Store the index of 2000 in a variable
  index = expenses.index(2000) 
  #Once 2000 has been added to the list, we call on the variable where we stored its index previously
  #We then add 1 to it so that it will not follow zero-based counting
  print("3. You have spent exactly 2000 dollars in month $" + str(index + 1))    
else:
  print("3. You have not spent exatcly 2000 dollars in any month yet")

#4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
answer = expenses.append(1980)
print("4. List of expenses per month as of the end of June:", expenses)

#5. You returned an item that you bought in April and got a refund of 200$. Correct this.
answer = expenses[3] - 200
print("5. Total expense in April after refund: $", answer)

1. In Feb, how many dollars did you spent extra compared to January? $ 150
2. Find out your total expense in first quarter (first three months) of the year: $ 7150
3. You have not spent exatcly 2000 dollars in any month yet
4. List of expenses per month as of the end of June: [2200, 2350, 2600, 2130, 2190, 1980]
5. Total expense in April after refund: $ 1930

Codebasics Excercise 2

In [ ]:
'''Codebasics Excercise 2'''

#List of heroes
heroes = ['Spiderman','Thor','Hulk','Ironman','Captain America']

#1. Get the length of the list
print("1. Length of the list is:", len(heroes))

#2. Add 'black panther' at the end of this list
heroes.append("Black Panther")
print("2. heroes:", heroes)

#3. Remove Black Panther from list, then add it after Hulk
heroes.remove("Black Panther")
print("3. Remove Black Panther:", heroes)
heroes.insert(3, "Black Panther")
print("   Added Black Panther:", heroes)

#4. Replace Thor and Hulk with Doctor Strange
heroes[1:3] = ["Doctor Strange"]
print("4.",heroes)

#5. Sort the list in alphabetical order
heroes.sort()
print("5.",heroes)

1. Length of the list is: 5
2. heroes: ['Spiderman', 'Thor', 'Hulk', 'Ironman', 'Captain America', 'Black Panther']
3. Remove Black Panther: ['Spiderman', 'Thor', 'Hulk', 'Ironman', 'Captain America']
   Added Black Panther: ['Spiderman', 'Thor', 'Hulk', 'Black Panther', 'Ironman', 'Captain America']
4. ['Spiderman', 'Doctor Strange', 'Black Panther', 'Ironman', 'Captain America']
5. ['Black Panther', 'Captain America', 'Doctor Strange', 'Ironman', 'Spiderman']

Codebasics Excercise 3

In [ ]:
#Ask user for the max number 
user_input = int(input("Enter max number: "))

odd_numbers = []

#Add 1 to the user input since the last number in a sequence is not included when using the range function
for i in range(1, user_input + 1):
    if i % 2 == 1:
        odd_numbers.append(i)

print(odd_numbers)

Enter max number: 17
[1, 3, 5, 7, 9, 11, 13, 15, 17]

**Now You Try It!**

1. Write a procedure for reversing the elements of an array

In [ ]:
'''Without using any built-in functions, write a procedure for reversing the elements of an array'''

#My Sample list because I am about to order food online
my_list = ['Shakeys','Jollibee','Mcdonalds','Burger King','Chowking']

#Need to divide it by 2 since we only need half of the list to do the reversal
#Without dividing by 2, we only end up with the original list
for i in range(len(my_list)//2):
  placeholder = my_list[i]
  my_list[i] = my_list[len(my_list) -i - 1]
  my_list[len(my_list) -i - 1] = placeholder

print(my_list)

['Chowking', 'Burger King', 'Mcdonalds', 'Jollibee', 'Shakeys']

4. Write a procedure for finding the minimum in an array and deleting it from the array.

In [ ]:
'''Write a procedure for finding the minimum in an array and deleting it from the array'''

#My Sample list
my_list = [3,7,8,-300,0,1,-2]

#Iniitalize placeholder variable for index and a value
minimum_array = my_list[0]

for i in range(len(my_list)):
  if my_list[i] <= minimum_array:
    minimum_array = my_list[i]

my_list.remove(minimum_array)

print(my_list)

[3, 7, 8, 0, 1, -2]