<a href="https://colab.research.google.com/github/7Blessings7/CMSC-204-Prog1/blob/main/Tiu_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercise: Array DataStructure

Let us say your expense for every month are listed below,

January - 2200

February - 2350

March - 2600

April - 2130

May - 2190

Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [ ]:
#create list
monthly_exp = [2200, 2350, 2600, 2130, 2190]

In [ ]:
#Difference between February and January Expense

#Define Which month is which
January = monthly_exp[0]
February = monthly_exp[1]

print('We spent an extra', February - January , 'February as compared to January')

We spent an extra 150 February as compared to January

In [ ]:
#Spent in a Quarter

Quarter = [monthly_exp[0], monthly_exp[1], monthly_exp[2]]

print('The total expense for the quarter is', sum(Quarter))

The total expense for the quarter is 7150

In [ ]:
#Did I spend exactly $2000 in any month?
x = 2000

if x in monthly_exp:
  print('I have spent exactly $2000 in one of the month')
else:
  print('I have not spent exactly $2000')

I have not spent exactly $2000

In [ ]:
#add June Expense

monthly_exp.append(1980)

print(monthly_exp)

[2200, 2350, 2600, 2130, 2190, 1980]

In [ ]:
#adjusting April expense

monthly_exp[3] = monthly_exp[3] - 200

print('The adjusted expense are', monthly_exp)

The adjusted expense are [2200, 2350, 2600, 1930, 2190, 1980]

You have a list of your favourite marvel super heroes.

heroes=['spider man','thor','hulk','iron man','captain america']

Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [ ]:
#list of heroes
heroes=['spider man','thor','hulk','iron man','captain america']

In [ ]:
#Get the Lenth of the List

print('The lenght of the list is', len(heroes))

The lenght of the list is 5

In [ ]:
#Add Black Panther

heroes.append('black panther')

print(heroes)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [ ]:
#inserting black panther in correct place

heroes.remove('black panther')
print(heroes)

heroes.insert(3,'black panther')
print(heroes)

['spider man', 'thor', 'hulk', 'iron man', 'captain america']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [ ]:
#replacing 2 items from the list using 1 line

heroes[1:3] = ['doctor strange']
print(heroes)

['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']

In [ ]:
#sorting the list

heroes.sort()

print(heroes)

['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [ ]:
#Odd number list

max = int(input("Enter a number: ")) #Define the Maximum value
odd = [] #store the odd numbers

for num in range(1, max+1): #to iterate from 1 to the max value
    if num % 2 != 0:  #this is used to define if the number is odd or not
        odd.append(num)

print("List of odd numbers between 1 and", max, "is:", odd)

Enter a number: 25
List of odd numbers between 1 and 25 is: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]